/********** HEADER **************/

header {
  background-color: lightgray;
  padding: 15px;
  display: block;
}

header div {
  display:inline-block;
  padding: 0px 20px;
}

.filterDivs {
    display:inline-block;
    padding: 0px 20px;
}

#view-filters {
    background-color: #fffff0;
    padding: 15px;
    margin: 20px;
    display: block;
}

.poster{
	position:relative;

}

a.delete {
	position: absolute;
	top:0px;
	left:20px;
	margin-right: 20px;
	color: white;
	z-index:100;
	text-decoration: none;

}

a.delete:hover{
	text-decoration:none;
}

.rating {
	glyphicon: true;
	stars: 5;
}

#ratingScale{
    border: 0, solid, #f6931f;
    font-weight: bold;
    display: inline-block;
}

