{{#each movie}}
	<div class="col-md-3 poster-container">
    <img src='http://img.omdbapi.com/?apikey=7c212437&i={{imdbID}}' width="200px" height="300px">
	  <button class="btn btn-xs add-movie btn-danger" id='{{imdbID}}'>Add Movie</button>
    <button class="btn btn-xs watchedBtn btn-success" id='{{key}}'>Watched</button>
  </div>
{{/each}}