<nav class="nav nav-pills">
  <div>
    <a id="findMoviesBtn" href="#">Find Movies</a>
  </div>
  <div>
    <a id="searchMyMoviesBtn" href="#">Search My Movies</a>
  </div>
  <div>
    <a id="logoutBtn" href="#">Logout</a>
  </div>
</nav>
