<!-- unwatched and watched buttons -->

<!-- Movie Div *** take out comments and put double handle bars around eaches and visibilities-->

{{#each Movie}}
  <div><img src="{{Poster}}"> 
    <!-- Watched and Unwatched Btns -->
    <button type="button" class="btn" 
    <!-- watched -->
    id="unwatchedBtn">Move to unwatched</button>
    <button type="button" class="btn" 
    <!-- visibility -->
    id="watchedBtn">Watched</button>
  </div>
{{/each}}