{{#each movie}}

<div class="col-md-3" id="poster-container"><img src='http://img.omdbapi.com/?apikey=7c212437&i={{key}}' width="200px" height="300px">

	<input type="number" class="rating" data-min="1" data-max="5" data-step="1">
	<a href="#" class="deleteBtn" key="{{@key}}">
	<span class="glyphicon glyphicon-trash"></span>
	</a>

</div>

{{/each}}