<h1>Movie History</h1>

<!--email and password-->
<div><input class="user-input form-control" type="email" id="email" placeholder="Email"></div>
<div><input class="user-input form-control" type="password" id="password" placeholder="Password"></div>


<!--Log in or register buttons-->
<button class="btn btn-danger" type="button" id="log-in">Log In</button>
<button class="btn btn-danger" type="button" id="register">Register</button>