<!--this is where the modal will go -->
<div class="modal fade" id="findMovieModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Find new movies</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="movieToSearch" placeholder="Find a movie">
      </div>
      <div class="modal-footer alert-dismissible">
        <button type="button" id="findBtn" class="btn btn-primary">Find</button>
        <button type="button" id="cancelButton" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->