<!-- unwatched and watched buttons -->
<button type="button" class="btn btn-link" id="allYourMovies">All Your Movies</button>
<button type="button" class="btn btn-link" id="watched">Watched</button>
<button type="button" class="btn btn-link" id="unwatched">Unwatched</button>
<button type="button" class="btn btn-link" id="favorites">Favorites</button>
<!-- Movie Div *** take out comments and put double handle bars around eaches and visibilities-->

{{#each movieRefs}}
  <div><img src="{{movieRefs}}"> 
    <!-- Watched Btns -->
    <button type="button" class="btn" 
    <!-- visibility -->
    id="watchedBtn">Watched</button>
  </div>
{{/each}}