{{!-- cycles through the movies --}}
{{#each movie}}
	{{!-- if the movie is not in Firebase --}}
	{{!-- {{#if }} --}}
		<div class="col-md-3 poster-container"><img src='http://img.omdbapi.com/?apikey=7c212437&i={{imdbID}}' width="200px" height="300px">
		{{!-- <h3>{{Title}}</h3> --}}
		<button class="add-movie" id='{{imdbID}}'>Add Movie</button></div>
	{{!-- {{/if}} --}}
	{{!-- if the movie is already in Firebase, and unwatched --}}
	


{{/each}}