{{#each movie}}
	<div id="poster-container"><img src='http://img.omdbapi.com/?apikey=7c212437&i={{imdbID}}'>
	<h1>{{Title}}</h1>
<button class="add-movie" id='{{imdbID}}'>Add Movie</button></div>
{{/each}}