<!-- watched and unwatched links -->
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-link active" id="watched">Watched</button>
  <button type="button" class="btn btn-default">|</button>
  <button type="button" class="btn btn-link" id="unwatched">Unwatched</button>
</div>
<!-- Movie Div *** take out comments and put double handle bars around eaches and visibilities-->

{{#each Poster}}
  <div><img src="{{Poster}}"> 
  <!-- Watched and Unwatched Btns -->
    <button type="button" class="btn <!-- visibility -->" id="watchedBtn">Watched</button>
  </div>
{{/each}}