{{#each movie}}
	<div class="col-md-3" id="poster-container"><img src='http://img.omdbapi.com/?apikey=7c212437&i={{imdbID}}' width="200px" height="300px">
	{{!-- <h3>{{Title}}</h3> --}}
	<input id="rating-system" type="number" class="rating" min="1" max="5" step="1">
{{/each}}